html {
  text-align: center;
  font-family: Georgia;
  background-color: #ddd;
}

body {
  padding: 1em;
  text-align: left;
  display: inline-block;
  width: 500px;
  background-color: white;
  border-radius: 0.3em;
  position: relative;
  box-shadow: 0 2px 10px #444;
}

header {
  position: relative;
}

#tagline {
  right: 20px;
  bottom: 0;
  position: absolute;
}

#title {
  text-align: center;
}

.division {
  border-bottom: 1px solid #aaa;
  padding: 0.5em 0;
}

.invalid {
  color: red;
}

.color_blue {
  color: blue;
}

code {
  white-space: pre-wrap;
  background-color: #eee;
  display: block;
  padding: 0 10px;
  margin: 10px;
}
